{% extends 'base.html' %}
{% block title %}Advanced search{% endblock %}
{% block content %}

  <div class="col-lg-9  col-md-9 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Advansed search</h4>
            </div>
            <div class="panel-body">
                <div style="display: none;" class=" groups ">
                    <div class="groupnumber">

                        <h3><span class="label label-default">Status- Group Manager</span></h3>

                        <div class="info">
                            <h4>1</h4>
                            <h5>Group Name</h5>
                            <a href="#"><h3>Robotics</h3></a>

                            <h3><a href="#"></a>
                            </h3></div>
                        <div class="description">

                            <h4>Description</h4>
                            This group for course participants. Course provides an overview of robot mechanisms,
                            dynamics, and intelligent controls.
                            Topics include planar and spatial kinematics, and motion planning; mechanism design for
                            manipulators and mobile robots,
                            multi-rigid-body dynamics, 3D graphic simulation; control design, actuators, and
                            sensors; wireless networking, task modeling,
                            human-machine interface, and embedded software. Weekly laboratories provide experience
                            with servo drives, real-time control,
                            and embedded software. Students will design and fabricate working robotic systems in a
                            group-based term project.
                        </div>

                    </div>
                    <div class="divider"></div>
                    <div class="groupnumber">

                        <h3><span class="label label-default">Status- Group Member</span></h3>

                        <div class="info">
                            <h4>2</h4>
                            <h5>Group Name</h5>
                            <a href="#"><h3>AI</h3></a>

                            <h3><a href="#"></a>
                            </h3></div>
                        <div class="description">
                            <h4>Description</h4>
                            This group for course participants. This course introduces students to the basic
                            knowledge representation, problem solving,
                            and learning methods of artificial intelligence. Upon completion of 6.034, students
                            should be able to develop intelligent systems
                            by assembling solutions to concrete computational problems; understand the role of
                            knowledge representation, problem solving, and
                            learning in intelligent-system engineering; and appreciate the role of problem solving,
                            vision, and language in understanding human
                            intelligence from a computational perspective.
                        </div>

                    </div>
                    <div class="divider"></div>

                    <div class="container">
                        <nav>
                            <ul class="pagination">
                                <li><a href="#"><span aria-hidden="true">«</span><span
                                        class="sr-only">Previous</span></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span aria-hidden="true">»</span><span
                                        class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div style="display: block;" class="creategroup">


                    <h4>Enter information to be searched</h4>
                    <br>
                    <label for="" class="">Please, enter title</label>

                    <div class="input-group input-group">
                        <span class="input-group-addon"></span>
                        <input placeholder="Title" class="form-control" type="text">
                    </div>
                    <br>
                    <label for="" class="">Please, select type of paper</label>

                    <div class="input-group input-group">
                        <span class="input-group-addon"></span>
                        <select name="type">
                            <option value="..." selected>...</option>
                            <option value="article">article</option>
                            <option value="book">book</option>
                            <option value="inclusion">inclusion (inproceedings, incollection)</option>
                            <option value="thesis">thesis</option>
                            <option value="proceedings">proceedings</option>
                        </select>
                    </div>
                    <br>

                    <label for="" class="">Please, enter research area</label>

                    <div class="input-group input-group">
                        <span class="input-group-addon"></span>
                        <input placeholder="Research Area" class="form-control" type="text">
                    </div>
                    <br>
                    <label for="" class="">Please, enter author name</label>

                    <div class="input-group input-group">

                        <span class="input-group-addon"></span>
                        <input placeholder="Author Name" class="form-control" type="text">
                    </div>
                    <br>
                    <label for="" class="">Please, enter publication year</label>

                    <div class="input-group input-group">
                        <span class="input-group-addon"></span>
                        <input placeholder="Publication Year" class="form-control" type="text">
                    </div>
                    <br>
                    <label for="" class="">Please, enter venue (conference/journal name)</label>

                    <div class="input-group input-group">
                        <span class="input-group-addon"></span>
                        <input placeholder="Venue" class="form-control" type="text">
                    </div>
                    <br>
                    <label for="" class="">Please, enter keywords</label>

                    <div class="input-group input-group">
                        <span class="input-group-addon"></span>
                        <input placeholder="Keywords" class="form-control" type="text">
                    </div>
                    <br>

                    <label for="" class="">Please, enter institution</label>

                    <div class="input-group input-group">
                        <span class="input-group-addon"></span>
                        <input placeholder="Institution" class="form-control" type="text">
                    </div>
                    <br>


                    <button class=" btn btn-lg btn-success btn-block cent" type="submit">Search!</button>

                </div>
                <div class=" test alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>

            </div>
        </div>
    </div>
    <!-- /.blog-sidebar -->

{% endblock %}