{% extends 'base.html' %}
{% block title %}Information about article{% endblock %}
{% block content %}

    <div class="col-lg-9  col-md-9 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Record information</h4>
            </div>
            <div class="panel-body">
                <div style="display: block;" class=" groups ">
                    <div class="groupnumber">


                        <div class="info">
                            <h3>{{ title }}</h3>

                        </div>
                        <div class="description">


                            {% if type == 'article' %}
                                {% for art in article %}

                                    {% if art.journal != None %}
                                        <h4><span
                                                class="articletags"> Journal:&nbsp;&nbsp;</span> {{ art.journal|safe }}
                                        </h4>
                                    {% endif %}
                                    {% if art.year != None %}
                                        <h4><span class="articletags"> Year:&nbsp;&nbsp;</span> {{ art.year|safe }}</h4>
                                    {% endif %}
                                    {% if art.volume != None %}
                                        <h4><span class="articletags"> Volume:&nbsp;&nbsp;</span> {{ art.volume|safe }}
                                        </h4>
                                    {% endif %}
                                    {% if art.num != None %}
                                        <h4><span class="articletags"> Number:&nbsp;&nbsp;</span> {{ art.num|safe }}
                                        </h4>
                                    {% endif %}
                                    {% if art.pages != None %}
                                        <h4><span class="articletags"> Pages:&nbsp;&nbsp;</span> {{ art.pages|safe }}
                                        </h4>
                                    {% endif %}


                                {% endfor %}


                            {% elif type == 'book' %}
                                {% for boo in book %}

                                    {% if boo.booktitle != None %}
                                        <h4><span
                                                class="articletags"> Booktitle:&nbsp;&nbsp;</span> {{ boo.booktitle | safe }}
                                        </h4>
                                    {% endif %}
                                    {% if boo.type != None %}
                                        <h4><span class="articletags"> Type:&nbsp;&nbsp;</span> {{ boo.type | safe }}
                                        </h4>
                                    {% endif %}
                                    {% if boo.year != None %}
                                        <h4><span class="articletags"> Year:&nbsp;&nbsp;</span> {{ boo.year | safe }}
                                        </h4>
                                    {% endif %}
                                    {% if boo.volume != None %}
                                        <h4><span
                                                class="articletags"> Volume:&nbsp;&nbsp;</span> {{ boo.volume | safe }}
                                        </h4>
                                    {% endif %}

                                {% endfor %}


                            {% elif type == 'inclusion' %}
                                {% for inc in inclusion %}

                                    {% if inc.booktitle != None %}
                                        <h4><span
                                                class="articletags"> Booktitle:&nbsp;&nbsp;</span> {{ inc.booktitle | safe }}
                                        </h4>
                                    {% endif %}
                                    {% if inc.type != None %}
                                        <h4><span class="articletags"> Type:&nbsp;&nbsp;</span> {{ inc.type | safe }}
                                        </h4>
                                    {% endif %}
                                    {% if inc.year != None %}
                                        <h4><span class="articletags"> Year:&nbsp;&nbsp;</span> {{ inc.year | safe }}
                                        </h4>
                                    {% endif %}
                                    {% if inc.pages != None %}
                                        <h4><span class="articletags"> Pages:&nbsp;&nbsp;</span> {{ inc.pages | safe }}
                                        </h4>
                                    {% endif %}

                                {% endfor %}

                            {% elif type == 'thesis' %}
                                {% for thes in thesis %}

                                    {% if thes.type != None %}
                                        <h4><span class="articletags"> Type:&nbsp;&nbsp;</span> {{ thes.type | safe }}
                                        </h4>
                                    {% endif %}
                                    {% if thes.school != None %}
                                        <h4><span
                                                class="articletags"> School:&nbsp;&nbsp;</span> {{ thes.school | safe }}
                                        </h4>
                                    {% endif %}
                                    {% if thes.year != None %}
                                        <h4><span class="articletags"> Year:&nbsp;&nbsp;</span> {{ thes.year | safe }}
                                        </h4>
                                    {% endif %}

                                {% endfor %}

                            {% endif %}
                            <br>

                            <div align="center">
                                <form style="display: inline-block" action="{% url 'get_cited' %}" method="get">
                                    <input style="display: none" name="id" value="{{ id }}">
                                    <button style="background-color: #0095b6; width: 180px; " class="btn btn-info"
                                            type="submit">
                                    Cited
                                </button>
                                </form>

                                <form style="display: inline-block" method="get" action="{% url 'get_cited_by' %}">
                                    <input style="display: none" name="id" value="{{ id }}">
                                    <button style="background-color: #0095b6; width: 180px;" class="btn btn-info"
                                            type="submit">
                                    Cited By
                                </button>
                                </form>

                                <form style="display: inline-block" method="get" action="{% url 'get_related' %}">
                                    <input style="display: none" name="id" value="{{ id }}">
                                    <button style="background-color: #0095b6; width: 180px;" class="btn btn-info"
                                            type="submit">
                                    More from Authors
                                </button>
                                </form>
                            </div>


                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
        <!-- /.blog-sidebar -->

{% endblock %}