<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <script type="text/javascript" src="http://yastatic.net/jquery/2.1.1/jquery.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <!-- Custom styles for this template -->
    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <!--Bootstrap CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- New fronted css -->
    <link href="{% static "css/corrida.css" %}" rel="stylesheet">


    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<header class="navbar-inverse" role="banner">


    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" role="search" action="{% url 'results' %}" method="get">
                        <div class="form-group">
                            <input name="simple-search" placeholder="Search articles" class="form-control" type="text">
                            <!-- DONE: Give name of input -->
                        </div>
                        <button type="submit" class="btn btn-default">Search!</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a class="navbar-brand" href="#">
                                <img class="avatar " alt="Avatar" src="{% static 'images/user.png' %}">

                            </a>
                        </li>

                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                {% if user.is_authenticated %}{{ user.get_username }}{% endif %}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#modal2" data-toggle="modal" data-target="#modal2">Edit profile</a></li>
                                <li><a href="#modal3" data-toggle="modal" data-target="#modal3">Change password</a></li>
                                <li><a href="#modal4" data-toggle="modal" data-target="#modal4">Delete account</a></li>
                                <li class="divider"></li>
                                <li><a href="#modal5" data-toggle="modal" data-target="#modal5">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>


    </div>
    <!-- /container -->
</header>

<div class="pageinfo">
    <p style="color: #cfb91f">Corrida</p>
</div>
<div class="container">
    <div class="row">

        <div class="col-sm-3">

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">Menu</h4>
                </div>

                <a id="groups" href="{% url "news" %}" class="list-group-item list-group-item-warning">News</a>
                <a id="creategroup" href="{% url "create_publication" %}" class="list-group-item list-group-item-warning">Insert new entity</a>
                <a id="creategroup" href="{% url "search_by_id" %}" class="list-group-item list-group-item-warning">Find by ID</a>
                <!--end <a id="test" href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>-->
                <!--end <a href="#" class="list-group-item list-group-item-warning">Vestibulum at eros</a>-->
            </div>


        </div>
        <!-- /.blog-main -->

        <div class="content">
            {% block content %}
            {% endblock %}


        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /container -->

<footer class="footer">
    <p>© Corrida</p>
</footer>

<div id="modal" class="modal fade">


    <div class="container">
        <div class="modal-header">


        </div>

        <div class="modal-body">

            <form class="form-signin" role="form">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""
                       type="email">
                <label for="inputPassword" class="sr-only">Password</label>
                <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">

                <div class="checkbox">
                    <label>
                        <input value="remember-me" type="checkbox"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
    <!-- /container -->

</div>

<div id="modal2" class="modal fade">


    <div class="container">
        <div class="modal-header">


        </div>

        <div class="modal-body">

            <form class="form-signin" role="form">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="form-signin-heading">Edit profile</h2>
                <label for="inputPassword" class="sr-only">Change First Name</label>
                <input id="inputPassword" class="form-control" placeholder="New Name" required="" type="text">
                <label for="inputPassword" class="sr-only">Change Last Name</label>
                <input id="inputPassword" class="form-control" placeholder="New SurName" required="" type="text">
                <label for="inputEmail" class="sr-only">Change Email address</label>
                <input id="inputEmail" class="form-control" placeholder=" New Email" required="" autofocus=""
                       type="email">


                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            </form>

        </div>
    </div>
    <!-- /container -->

</div>

<div id="modal3" class="modal fade">


    <div class="container">
        <div class="modal-header">


        </div>

        <div class="modal-body">

            <form class="form-signin" role="form">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="form-signin-heading">ChangePassword</h2>
                <label for="inputPassword" class="sr-only">OLD Password</label>
                <input id="inputPassword" class="form-control" placeholder="OLD Password" required="" type="password">

                <label for="inputPassword" class="sr-only">NEW Password</label>
                <input id="inputPassword" class="form-control" placeholder="NEW Password" required="" type="text">
                <label for="inputEmail" class="sr-only">Repeat NEW Password</label>
                <input id="inputEmail" class="form-control" placeholder=" Repeat NEW Password" required="" autofocus=""
                       type="email">


                <button class="btn btn-lg btn-primary btn-block" type="submit">Change it!</button>
            </form>

        </div>
    </div>
    <!-- /container -->

</div>

<div id="modal4" class="modal fade">


    <div class="container">
        <div class="modal-header">


        </div>

        <div class="modal-body">

            <form class="form-signin" role="form">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="form-signin-heading">Are you sure want to delete your account? All your data will be
                    lose.</h2>
                <button class="btn btn-lg btn-danger btn-block" type="submit">Yes</button>
                <button class="btn btn-lg btn-primary btn-block" type="submit">No</button>
            </form>

        </div>
    </div>
    <!-- /container -->

</div>

<div id="modal5" class="modal fade">


    <div class="container">
        <div class="modal-header">


        </div>

        <div class="modal-body">

            <form class="form-signin" role="form">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="form-signin-heading">Are you sure to quit? All your friends are studying.</h2>
                <a href="/accounts/logout" class="btn btn-lg btn-success btn-block">Yes</a>
                {#                <button class="btn btn-lg btn-success btn-block" type="submit">Yes</button>#}
                <button class="btn btn-lg btn-warning btn-block" type="submit">No</button>
            </form>

        </div>
    </div>
    <!-- /container -->

</div>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>