<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
	<script type='text/javascript' src='http://yastatic.net/jquery/2.1.1/jquery.js'></script>
    <title>Start page</title>
	<!-- Latest compiled and minified CSS -->



	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
      <script src="{%  static 'js/bootstrap.min.js'%}"></script>


    <!-- Custom styles for this template -->
    <link href="{%  static "css/jumbotron-narrow.css" %}" rel="stylesheet">

	<!--Bootstrap CSS -->
	<link href= "{%  static "css/bootstrap.css"  %}" rel="stylesheet">



	<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>


	<script type="text/javascript">
		$("document").ready(function(){
		    $('#modal').modal('hide');
			$('#modal2').modal('hide');
		});
	</script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="/accounts/register">Registration</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Publication managment system </h3>
      </div>

      <div class="jumbotron">
          <h1> Corrida </h1>
        <p class="lead">
            Welcome to our team publication managment system. It will help you to find publications, manage it. <br> To start work, please sign up.
        </p>

          <p><a class="btn btn-lg btn-success" href="/accounts/login" role="button">Sign in</a></p>

      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Post 1</h4>
          <p>We start work on project! Reading requirements.</p>

          <h4>Post 3</h4>
          <p>Finished database design! We submit first phase! Profit!</p>

          <h4>Post 5</h4>

            <p>Working hard on frontend and backend)) All day, All night! Corrida!</p>
        </div>

        <div class="col-lg-6">
          <h4>Post 2</h4>
          <p>Starting designing database scheme. Our team is rock!</p>

          <h4>Post 4</h4>
          <p> Parsing dataset started! Let's do it!</p>

          <h4>Post 6</h4>
          <p> Congralulation! We finished web-site.</p>
        </div>
      </div>

      <footer class="footer">
          <p>&copy; Corrida</p>
      </footer>

    </div> <!-- /container -->

    {% block login %}{% endblock %}


    </div> <!-- /container -->

	</div>

    {% block registration %}{% endblock %}

	</div>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    {% block script_addon %}

    {% endblock %}
  </body>
</html>



