{% extends "base2.html" %}
{% load staticfiles%}
{% block content %}
    <div>
        bootstrap test <br>
        it will be the main part of code <br>
    </div>

    {% comment %}<img src="{% static "images/404.jpg" %}" />{% endcomment %}

{% endblock %}