{% extends "base2.html" %}
{% block title %}Damir page{% endblock %}
{% block content %}
    {{ foo }}


    <div class="span3 bs-docs-sidebar">
<ul class="nav nav-list bs-docs-sidenav affix-top">
<li><a href="#download-bootstrap"><i class="icon-chevron-right"></i> Загрузка</a></li>
<li><a href="#file-structure"><i class="icon-chevron-right"></i> Структура файлов</a></li>
<li><a href="#contents"><i class="icon-chevron-right"></i> Что включено</a></li>
<li><a href="#html-template"><i class="icon-chevron-right"></i> Шаблон HTML</a></li>
<li><a href="#examples"><i class="icon-chevron-right"></i> Примеры</a></li>
<li><a href="#what-next"><i class="icon-chevron-right"></i> Что дальше</a></li>

</ul></div>

{% endblock %}