{% extends 'base.html' %}
{% include paginator.template %}
{% block title %}Delete publcation{% endblock %}
{% block content %}
    <div class="col-lg-9  col-md-9 col-sm-9 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Delete</h4>
            </div>
            <div class="panel-body">
                <div style="display: block;" class="wiki">

                    <div class="groupnumber" style="min-height: 0px;">

                        <!--<li>{#{ delete }#}</li>
                        <li>{#{ type }#}</li>-->
                        <h4> We successfully delete {{ type }} entity with id={{ delete }}</h4>

                    </div>

                    <!-- entities -->


                </div>


            </div>
        </div>
    </div>
    </div>
    <!-- /.blog-sidebar -->
{% endblock %}


