{% extends 'base.html' %}
{% block title %}Insert entity publication{% endblock %}
{% block content %}
    <div class="col-lg-9  col-md-9 col-sm-9 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Insert entity type</h4>
            </div>
            <div class="panel-body">
                <div style="display: block;" class="wiki">


                    <div class="groupnumber" style="min-height: 0px;">


                        <h4>We successfully create new enitity of type {{ type }} with id={{ id }}. Let's insert
                            parametrs of entity type </h4>
                        <form action=" {% url 'insert_entity_type_result' %} " method="get">
                            <!-- TODO Change here url view-->
                            {#% csrf_token %#}

                            <input style="display: none" name="title" value="{{ title }}">
                            <input style="display: none" name="id" value="{{ id }}">
                            <input style="display: none" name="type" value="{{ type }}">
                            <h4>{{ type | title }}</h4>
                            {% if type == 'article' %}

                                <ul>
                                    <label for="" class="">Please, enter {{ type }} volume</label>
                                    <input class="form-control" name="volume" value=""> <br>
                                    <label for="" class="">Please, enter {{ type }} year</label>
                                    <input class="form-control" name="year" value=""> <br>
                                    <label for="" class="">Please, enter {{ type }} num</label>
                                    <input class="form-control" name="num" value=""> <br>
                                    <label for="" class="">Please, enter {{ type }} pages</label>
                                    <input class="form-control" name="pages" value=""> <br>
                                </ul>
                            {% elif type == 'book' %}
                                <ul>

                                    <label for="" class="">Please, enter booktitle</label>
                                    <input class="form-control" name="booktitle" value="">
                                    <br>
                                    <label for="" class="">Please, enter{{ type }} volume</label>
                                    <input class="form-control" name="volume" value=""> <br>
                                    <label for="" class="">Please, enter {{ type }} year</label>
                                    <input class="form-control" name="year" value=""> <br>
                                    <label for="" class="">Please, select type of {{ type }}</label><br>
                                    <select name="book_type">
                                        <option value="..." selected>...</option>
                                        <option value="book">book</option>
                                        <option value="proceedings">proceedings</option>
                                    </select>
                                </ul>
                            {% elif type == 'inclusion' %}
                                <ul>
                                    <label for="" class="">Please, enter {{ type }} booktitle</label>
                                    <input class="form-control" name="booktitle" value="">
                                    <br>
                                    <label for="" class="">Please, enter {{ type }} year</label>
                                    <input class="form-control" name="year" value=""> <br>
                                    <label for="" class="">Please, enter {{ type }} pages</label>
                                    <input class="form-control" name="pages" value=""> <br>
                                    <label for="" class="">Please, select type of {{ type }}</label><br>
                                    <select name="inclusion_type">
                                        <option value="..." selected>...</option>
                                        <option value="inproceedings">inproceedings</option>
                                        <option value="incollection">incollection</option>
                                    </select>
                                </ul>
                            {% elif type == 'thesis' %}
                                <ul>
                                    <label for="" class="">Please, enter {{ type }} year</label>
                                    <input class="form-control" name="year" value=""> <br>
                                    <label for="" class="">Please, select type of {{ type }}</label><br>
                                    <select name="thesis_type">
                                        <option value="..." selected>...</option>
                                        <option value="phd">phd</option>
                                        <option value="master">master</option>
                                    </select>
                                </ul>
                            {% endif %}

                            <button class="btn btn-lg btn-warning btn-block cent" type="submit">
                                Insert {{ type }}</button>
                            <!-- TODO Change here btn  name-->

                        </form>
                    </div>
                    <!--context = RequestContext(request, {"update": val, "type": val2, "entity": entity, "article": article, "book":book, "inclusion":inclusion, "thesis": thesis  })-->


                    <!-- entities -->


                </div>


            </div>
        </div>
    </div>
    </div>
    <!-- /.blog-sidebar -->
{% endblock %}