{% extends 'base.html' %}
{% block title %}News{% endblock %}
{% block content %}

  <div class="col-lg-9  col-md-9 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">News</h4>
            </div>
            <div class="panel-body">
                <div style="display: block;" class=" groups ">
                    <div class="groupnumber">

                        <h3><span class="label label-default">Date - 11 October 2015</span></h3>

                        <div class="info">
                            <h4>1</h4>
                            <h5>Educational News</h5>
                            <a href="#"><h3>New Robotics Course</h3></a>

                            <h3><a href="#"></a>
                            </h3></div>
                        <div class="description">

                            <h4>Description</h4>
                            On the Coursera Innopolis University published new Robotics course. Course provides an overview of robot mechanisms,
                            dynamics, and intelligent controls.
                            Topics include planar and spatial kinematics, and motion planning; mechanism design for
                            manipulators and mobile robots,
                            multi-rigid-body dynamics, 3D graphic simulation; control design, actuators, and
                            sensorsireless networking, task modeling,
                            human-machine interface, and embedded software. Weekly laboratories provide experience
                            with servo drives, real-time control,
                            and embedded software. Students will design and fabricate working robotic systems in a
                            group-based term project.
                        </div>

                    </div>
                    <div class="divider"></div>
                    <div class="groupnumber">

                        <h3><span class="label label-default">Date - 11 September 2015</span></h3>

                        <div class="info">
                            <h4>2</h4>
                            <h5>Educational News</h5>
                            <a href="#"><h3>New AI Course</h3></a>

                            <h3><a href="#"></a>
                            </h3></div>
                        <div class="description">
                            <h4>Description</h4>
                            On the Coursera Innopolis University published new AI course. This course introduces students to the basic
                            knowledge representation, problem solving,
                            and learning methods of artificial intelligence. Upon completion of 6.034, students
                            should be able to develop intelligent systems
                            by assembling solutions to concrete computational problems; understand the role of
                            knowledge representation, problem solving, and
                            learning in intelligent-system engineering; and appreciate the role of problem solving,
                            vision, and language in understanding human
                            intelligence from a computational perspective.
                        </div>

                    </div>
                    <div class="divider"></div>

                    <div class="container">
                        <nav>
                            <ul class="pagination">
                                <li><a href="#"><span aria-hidden="true">«</span><span
                                        class="sr-only">Previous</span></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span aria-hidden="true">»</span><span
                                        class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.blog-sidebar -->

{% endblock %}