{% extends 'base.html' %}
{% block title %}Related articles{% endblock %}
{% block content %}

    <div class="col-lg-9  col-md-9 col-sm-9 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% if type == "Authors" %}
                            Papers from Authors


                        {% elif type == "Cited" %}
                            Papers Cited in


                        {% elif type == "Citedby" %}
                            Papers Cited By
                        {% endif %}

                </h4>
            </div>
            <div class="panel-body">
                <div style="display: block;" class="wiki">
                    <div class="groupnumber" style="min-height: 0px;">

                        {% if type == "Authors" %}
                            <!--<h1>Papers from Authors</h1>
                            {#{ id }#} -->
                            {% for i in entities %}
                                {% for entity in i %}

                                    <div class="groupnumber" style="min-height: 0px;">
                                        <div class="info">
                                            <h4>{{ forloop.counter }}</h4>
                                            <a href="{% url "article" %}?id={{ entity.ID|safe }}&type={{ entity.type|safe }}&title={{ entity.title|safe }}">
                                                <h4>{{ entity.title|safe }}</h4></a>
                                        </div>

                                        <br>

                                        <div style="display: inline-block; width: 170px; margin-left: 80%;">
                                            <div class="butgr" style="display: inline-block; ">
                                                <form action="{% url 'update_publication' %}" method="get">

                                                    <input style="display: none" name="type"
                                                           value="{{ entity.type|safe }}">
                                                    <button type="submit" name="update" value="{{ entity.ID |safe }}"
                                                            class="btn btn-warning">Update
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="butgr" style="display: inline-block">
                                                <form action="{% url 'delete_result' %}" method="get">
                                                    <input style="display: none" name="type"
                                                           value="{{ entity.type|safe }}">

                                                    <button type="submit" name="delete" value="{{ entity.ID |safe }}"
                                                            class="btn btn-danger" data-toggle="modal"
                                                            data-target="#modal6">
                                                        Delete
                                                    </button>
                                                </form>
                                            </div>
                                        </div>


                                    </div>

                                    <!-- <h4>{#{ entity.title|safe }#}</h4> -->
                                {% endfor %}
                            {% endfor %}
                        {% else %}


                        {% for entity in entities %}

                            <div class="groupnumber" style="min-height: 0px;">
                                <div class="info">
                                    <h4>{{ forloop.counter }}</h4>
                                    <a href="{% url "article" %}?id={{ entity.ID|safe }}&type={{ entity.type|safe }}&title={{ entity.title|safe }}">
                                        <h4>{{ entity.title|safe }}</h4></a>
                                </div>

                                <br>

                                <div style="display: inline-block; width: 170px; margin-left: 80%;">
                                    <div class="butgr" style="display: inline-block; ">
                                        <form action="{% url 'update_publication' %}" method="get">

                                            <input style="display: none" name="type" value="{{ entity.type|safe }}">
                                            <button type="submit" name="update" value="{{ entity.ID |safe }}"
                                                    class="btn btn-warning">Update
                                            </button>
                                        </form>
                                    </div>
                                    <div class="butgr" style="display: inline-block">
                                        <form action="{% url 'delete_result' %}" method="get">
                                            <input style="display: none" name="type" value="{{ entity.type|safe }}">

                                            <button type="submit" name="delete" value="{{ entity.ID |safe }}"
                                                    class="btn btn-danger" data-toggle="modal" data-target="#modal6">
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>


                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>


                </div>
            </div>
        </div>
    </div>


    {#%  if type == "Authors" %#}
    <!-- <h1>Papers from Authors</h1>
        {# { id }#}
        {#% for entity in entities %#}
            {#% for i in entity %#}
                <h4>{#{ i.title|safe }#}</h4>
            {#% endfor %#}
        {#% endfor %#}
    {#%  elif type == "Cited" %#}
        <h1>Papers Cited in</h1>
    {#%  elif type == "Citedby" %#}
        <h1>Papers Cited By</h1> --->
    {#% endif %#}

{% endblock %}