{% extends 'base.html' %}
{% include paginator.template %}
{% block title %}Search results{% endblock %}
{% block content %}
    <div class="col-lg-9  col-md-9 col-sm-9 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Results</h4>
            </div>
            <div class="panel-body">
                <div style="display: block;" class="wiki">

                    <form action="{% url 'sort_title' %}" method="get"
                          style="display: inline-block; margin-right: 11px;">
                        <!--<input style="display: none" name="" value="">-->
                        <button type="submit" name="simple-search" value="{{ title }}"
                                class="btn btn-info btn-lg">Sort by title
                        </button>
                    </form>


                    <form action="{% url 'sort_id' %}" method="get" style="display: inline-block">
                        <!--<input style="display: none" name="" value="">-->
                        <button type="submit" name="simple-search" value="{{ title }}"
                                class="btn btn-info btn-lg">Sort by id
                        </button>
                    </form>
                    <div style="margin-bottom: 10px"></div>
                    <div class="groupnumber" style="min-height: 0px;">



                        <!-- entities -->

                        {% for entity in entities %}



                            <div class="groupnumber" style="min-height: 0px;">

                                <div class="info">
                                    <div style="float: right; display: block;">
                                        <h5 style="display: inline-block">Type: {{ entity.type|safe }}</h5>
                                        <h5 style="display: inline-block"> &emsp;&emsp;&emsp; </h5>
                                        <h5 style="display: inline-block">Date: {{ entity.mdate|safe }}</h5>
                                    </div>
                                    <br>
                                    <h4>{{ forloop.counter }}</h4>
                                    <a href="{% url "article" %}?id={{ entity.ID|safe }}&type={{ entity.type|safe }}&title={{ entity.title|safe }}">
                                        <h4>{{ entity.title|safe }}</h4></a>
                                </div>
                                <div class="content">


                                </div>
                                <br>

                                <div style="display: inline-block; width: 170px; margin-left: 80%;">
                                    <div class="butgr" style="display: inline-block; ">
                                        <form action="{% url 'update_publication' %}" method="get">

                                        <input style="display: none" name="type" value="{{ entity.type|safe }}">
                                    <button type="submit" name="update" value="{{ entity.ID |safe }}"
                                            class="btn btn-warning">Update
                                    </button>
                                        </form>
                                    </div>
                                    <div class="butgr" style="display: inline-block">
                                        <form action="{% url 'delete_result' %}" method="get">
                                    <input style="display: none" name="type" value="{{ entity.type|safe }}">

                                    <button type="submit" name="delete" value="{{ entity.ID |safe }}"
                                            class="btn btn-danger" data-toggle="modal" data-target="#modal6">Delete
                                    </button>
                                </form>
                                    </div>
                                </div>


                            </div>



                            <!--<ul>
                                <li>{#{ entity.title|safe }#}</li>
                                <li>{# { entity.mdate|safe }#}</li>
                                <li>{# { entity.type|safe }#}</li>
                            </ul> -->
                        {% endfor %}

                        {#% for entity in entities_pages%#}
                        <!--  <li>{#{ entity}#}</li>-->
                        {#% endfor %#}


                        <!-- <div class="pagination">
                        <span class="step-links">
                            {#% if entities_pages.has_previous %#}
                                <a href="?page={#{ entities_pages.previous_page_number }#}">previous</a>
                            {#% endif %#}

                            <span class="current">
                                Page {#{ entities_pages.number }#} of {#{ entities_pages.paginator.num_pages }#}.
                            </span>

                            {#% if entities_pages.has_next %#}
                                <a href="?page={#{ entities_pages.next_page_number }#}">next</a>
                            {#% endif %#}
                        </span>
                    </div> -->


                        <div class="container">
                        <nav>
                            <ul class="pagination">
                                <li><a href="#"><span aria-hidden="true">«</span><span
                                        class="sr-only">Previous</span></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
    <!-- /.blog-sidebar -->
{% endblock %}


