{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-9  col-md-9 col-sm-9 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Enter record ID</h4>
            </div>
            <div class="panel-body">
                <div style="display: block;" class="wiki">
                    <form class="navbar-form navbar-left" role="search" action="{% url 'results_id' %}" method="get">
                        <div class="form-group">
                            <input name="id" placeholder="Search articles" class="form-control" type="text">
                            <!-- DONE: Give name of input -->
                        </div>
                        <button type="submit" class="btn btn-default">Search!</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
    </div>
{% endblock %}
