{% extends 'base.html' %}
{% include paginator.template %}
{% block title %}Update publcation{% endblock %}
{% block content %}
    <div class="col-lg-9  col-md-9 col-sm-9 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Update</h4>
            </div>
            <div class="panel-body">
                <div style="display: block;" class="wiki">


                    <div class="groupnumber" style="min-height: 0px;">
                        <!-- TODO: update -->


                        <!--<li>{#{ update }#}</li>
                        <li>{#{ type }#}</li> -->


                        <h4>Entity</h4>
                        <form action=" {% url 'update_publication_result' %} " method="get">
                            {#% csrf_token %#}
                            {% for ent in entity %}
                                <ul>
                                    <label for="" class="">Please, update/keep entity title</label>
                                    <input class="form-control" name="title" value="{{ ent.title|safe }}">
                                    <input style="display: none" name="id" value="{{ update }}">
                                    <input style="display: none" name="type" value="{{ type }}">
                                </ul>

                            {% endfor %}
                            <br>

                            <h4>{{ type | title }}</h4>
                            {% if type == 'article' %}
                                {% for art in article %}
                                    <ul>
                                        <label for="" class="">Please, update/keep {{ type }} volume</label>
                                        <input class="form-control" name="volume" value="{{ art.volume|safe }}"> <br>
                                        <label for="" class="">Please, update/keep {{ type }} year</label>
                                        <input class="form-control" name="year" value="{{ art.year|safe }}"> <br>
                                        <label for="" class="">Please, update/keep {{ type }} num</label>
                                        <input class="form-control" name="num" value="{{ art.num|safe }}"> <br>
                                        <label for="" class="">Please, update/keep {{ type }} pages</label>
                                        <input class="form-control" name="pages" value="{{ art.pages|safe }}"> <br>
                                    </ul>
                                {% endfor %}
                            {% elif type == 'book' %}
                                {% for boo in book %}
                                    <ul>

                                        <label for="" class="">Please, update/keep booktitle</label>
                                        <input class="form-control" name="booktitle" value="{{ boo.booktitle|safe }}">
                                        <br>
                                        <label for="" class="">Please, update/keep {{ type }} volume</label>
                                        <input class="form-control" name="volume" value="{{ boo.volume|safe }}"> <br>
                                        <label for="" class="">Please, update/keep {{ type }} year</label>
                                        <input class="form-control" name="year" value="{{ boo.year|safe }}"> <br>
                                    </ul>
                                {% endfor %}
                            {% elif type == 'inclusion' %}
                                {% for inc in inclusion %}
                                    <ul>
                                        <label for="" class="">Please, update/keep {{ type }} booktitle</label>
                                        <input class="form-control" name="booktitle" value="{{ inc.booktitle|safe }}">
                                        <br>
                                        <label for="" class="">Please, update/keep {{ type }} year</label>
                                        <input class="form-control" name="year" value="{{ inc.year|safe }}"> <br>
                                        <label for="" class="">Please, update/keep {{ type }} pages</label>
                                        <input class="form-control" name="pages" value="{{ inc.pages|safe }}"> <br>
                                    </ul>
                                {% endfor %}
                            {% elif type == 'thesis' %}
                                {% for th in thesis %}
                                    <ul>
                                        <label for="" class="">Please, update/keep {{ type }} year</label>
                                        <input class="form-control" name="year" value="{{ th.year|safe }}"> <br>
                                    </ul>
                                {% endfor %}
                            {% endif %}


                            <button class="btn btn-lg btn-warning btn-block cent" type="submit">Update</button>
                        </form>
                    </div>
                    <!--context = RequestContext(request, {"update": val, "type": val2, "entity": entity, "article": article, "book":book, "inclusion":inclusion, "thesis": thesis  })-->


                    <!-- entities -->


                </div>


            </div>
        </div>
    </div>
    </div>
    <!-- /.blog-sidebar -->
{% endblock %}