{% extends 'base.html' %}
{% block title %}Result of Update publcation{% endblock %}
{% block content %}
    <div class="col-lg-9  col-md-9 col-sm-9 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Update</h4>
            </div>
            <div class="panel-body">
                <div style="display: block;" class="wiki">


                    <div class="groupnumber" style="min-height: 0px;">

                        <!--Here-->
                        <!--<li>{#{ id }#}</li>
                        <li>{#{ type }#}</li> -->
                        <h4> We successfully update {{ type }} entity with id={{ id }}</h4>

                    </div>


                    <!-- entities -->


                </div>


            </div>
        </div>
    </div>
    </div>
    <!-- /.blog-sidebar -->
{% endblock %}