{% extends 'base2.html' %}
{% block content %}
    <h3 class="offset3">Account is activated</h3>
    <div class="row offset2" style="margin-bottom: 20px; margin-top: 10px">
        <a href="/" class="btn btn-primary">Return to main page</a>
    </div>
{% endblock %}