{% extends "beforelogin.html" %}
{% block login %}

    <div id="modal" class="modal show">


    <div class="container">
    <div class="modal-header">


    </div>

    <div class="modal-body">

        {% comment %}<form class="form-signin" role="form" method="POST" action="/accounts/login">
        	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>

                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>

                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
              </form>  ToDo LOGIN{% endcomment %}

        <h1 class="offset3">Authorization</h1>

        {% if user.is_authenticated %}
            What is that, {{ user.username }}? You are already authorized.
            Otherwise you could get back <a href="/accounts/logout">выйти</a>.<br/><br/>
        {% else %}
            {% if form.non_field_errors %}
                <div class="text-error">{{ form.non_field_errors }}</div>
            {% endif %}
            <form class="form-signin" role="form" method="post" action="">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="form-signin-heading">Please sign in</h2>
                {% csrf_token %}

                {% for field in form %}
                    <p>{{ field.label_tag }}</p>
                    <div class="row">
                        <div class=offset3>
                            {% for error in field.errors %}
                                <p class="text-error">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-control" placeholder="Email address"> {{ field }}</div>

                        {% if field.help_text %}
                            <div>{{ field.help_text }}</div>{% endif %}
                    </div>
                {% endfor %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
            </form>

            <br/><br/>
            <ul class="offset1">
                <li><a class="btn btn-block" href="/accounts/password/reset/">You forgot your passwords?</a></li>
                <li><a class="btn btn-block" href="/accounts/register">Registration</a></li>
            </ul>

        {% endif %}
    </div>
{% endblock %}
{% block script_addon %}
    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
{% endblock %}