{% extends "base2.html" %}
{% block content %}
    <h1 class="offset4">Registration is completed</h1>
    <p style="margin-bottom: 20px" class="offset1"> Thank you for your time. We have sent the confirmation code to your
        letter. You have to confirm your registration,
        Just by clicking on the link in the letter.</p>
{% endblock %}