{% extends "beforelogin.html" %}
{% block registration %}
    <div id="modal2" class="modal show well">
        <div class="container">
            <div class="modal-header">
            </div>
            <div class="modal-body">

                {% if user.is_authenticated %}
                    What is that, {{ user.username }}? You are already authorized.
                    Otherwise you could get back <a href="{% url auth_logout %}">Exit</a>.<br/><br/>
                {% else %}
                    <h1>Registration</h1>
                    <form method="post" action="" class="form-signin" role="form">
                        {% csrf_token %}
                        <dl class="register">
                            {% for field in form %}
                                <dt>{{ field.label_tag }}</dt>
                                <dd class="clearfix ">{{ field }}
                                    {% if field.help_text %}
                                        <div class="clearfix">{{ field.help_text }}</div>{% endif %}
                                    {% if field.errors %}
                                        <div class="myerrors clearfix text-danger">{{ field.errors }}</div>{% endif %}
                                </dd>
                            {% endfor %}
                        </dl>
                        <input type="submit" value="Registrate" class="clearfix btn btn-lg btn-primary btn-block">
                    </form>
                {% endif %}
            </div>
        </div>
        <!-- /container -->


        {% comment %}    <div id="modal2" class="modal show">


	    <div class="container">
		<div class="modal-header">


		</div>

		<div class="modal-body">

      <form class="form-signin" role="form">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="form-signin-heading">Registration</h2>
		<label for="inputPassword" class="sr-only">First Name</label>
        <input type="text" id="inputPassword" class="form-control" placeholder="First Name" required>
		<label for="inputPassword" class="sr-only">Last Name</label>
        <input type="text" id="inputPassword" class="form-control" placeholder="Last Name" required>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>


	  </div>
    </div> <!-- /container -->{% endcomment %}
{% endblock %}