/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  background-color: #f9f9f9;
  
}
.panel{
margin-top:20px;
}
.pageinfo{
background-color: #222;
border-color: #080808;
font-family: Helvetica Neue;
color: #fff;
height: 40px;
text-align:center;
font-size: 24px;
}
.avatar{
position: relative;
bottom: 10px;

}
.groups{display:none;}
.creategroup{display:none;}
.test{display:none;}
.wiki{display:none;}
.file{display:none;}


.modal-backdrop.in{

  opacity: .8 !important  ;
}

.modal-header{

  border-bottom: 0px !important  ;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color:#eee;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.groupnumber{
min-height: 300px;
background-color: #fff;
border: 1px solid #e5e5e5;
padding:10px;
margin-bottom:5px;
}

.filenumber{
min-height: 100px;
background-color: #fff;
border: 1px solid #e5e5e5;
padding:10px;
margin-bottom:5px;
display:block !important;
}


.cent{
width:50%  !important;
margin: 0 auto !important;
}

.butgr {
float: right !important;
display:block !important;
}
.wiki .fott{
margin-bottom:10px !important;
height:40px !important;
display:inline-block !important;
}
.white{
color:#eee !important;
font-size: 20px;
}
